<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa_T_w80J6zXUesGEHbYJQiuf2-e3JhSc</string>
	<key>GCM_SENDER_ID</key>
	<string>22068131326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practica3Componentes</string>
	<key>PROJECT_ID</key>
	<string>componentes5c-8c7dc</string>
	<key>STORAGE_BUCKET</key>
	<string>componentes5c-8c7dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22068131326:ios:c2b21f5c4aefa5cf31fcaf</string>
</dict>
</plist>